.container__menu-bar > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.container__menu-bar > ul > li {
  list-style: none;
}
.container__menu-bar > ul > li > a:hover {
  background-color: aquamarine;
  padding: 10px;
  border-radius: 8px;
}

.activated {
  color: red;
  font-size: larger;
  background-color: aquamarine;
  padding: 10px;
  border-radius: 8px;
}
a {
  text-decoration: none;
}
